<% provide(:title, "Requests") %>

<div class="container text">
	<div class="row">
		<div class="col s8">
			<p>Welcome to the request page for Radio Free TASBot please make a request below. some things for requests though before we get started:
			<ul class="browser-default" style="list-style-type:square">
				<li>No requests over ten minutes in duration.</li>
				<li>Not all requests will be played in tonights stream. Those that are not played will be played <b>before</b> any new ones in the next stream.</li>
				<li>Keep the music clean weird is fine but vulgar is not.</li>
				<li>The DJ and the Streamer reserve the right to veto any song.</li>
			</ul>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<%= render 'form', request: @requests %>
		</div>
	</div>

</div>
