@import "materialize/components/color";
$primary-color: color("blue", "darken-2") !default;
$secondary-color: color("grey", "darken-1") !default;
@import "materialize";
@import "materialize/extras/nouislider";

@import "custom.scss";
@import "material_icons";
@import "input.scss";
@import "sweetalert2";

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	//background-color: #616161;
	background-color: #424242;
}

main {
	flex: 1 0 auto;
}

table.highlight{
	tbody{
		tr:nth-child(odd){
			background-color: #505050;

		}
		tr:hover{
			background-color: #606060;
		}


	}
}
