.text {
	color: white;
	font-family: Roboto;
}

.btn-changes {
	background-color: red;
}

footer {
	margin-top: 20mm;
}

.section-mod {
	margin-bottom: 30mm;
}

.inbtn-changes {
	background-color: green;
}

.input-changes {
	color: white;
}

.ul-changes {
	list-style-type: square;
}

.pretty th {
	.current {
		padding-right: 12px;
		background-repeat: no-repeat;
		background-position: right center;
			      
	}
	.asc {
		background-image: url(/images/up_arrow.png);
		      
	}
	.desc {
		background-image: url(/images/down_arrow.png);
		      
	}

}
