.text {
	color: white;
	font-family: Roboto;
}

.btn-changes {
	background-color: red;
}

footer {
	margin-top: 20mm;
}

.section-mod {
	margin-bottom: 30mm;
}

.inbtn-changes {
	background-color: green;
}

.input-changes {
	color: white;
}

.ul-changes {
	list-style-type: square;
}
