<div class="container">
	<div class="row">
		<div class="col l6 s12">
			<h5 class="white-text">Radio TASBoat Request Page</h5>
			<p class="grey-text text-lighten-4">A site to request music for DwangoAC's stream.</p>
		</div>
		<div class="col l4 offset-l2 s12">
			<h5 class="white-text">Links</h5>
			<ul>
				<li><a class="grey-text text-lighten-3" href="http://twitch.tv/dwangoac">DwangoAC's Stream</a></li>
				<li><a class="grey-text text-lighten-3" href="http://fallenfocus.net:9988">IceCast Server Status</a></li>
				<li><a class="grey-text text-lighten-3" href="https://gitlab.com/MediaMagnet/radio-tasbot">GitLab Source</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="footer-copyright">
	<div class="container">
 	<i class="material-icons left">copyright</i> 2018 MediaMagnet
		<a class="grey-text text-lighten-4 right" href="http://twitch.tv/mediamagnet">Other Stuff Soon.</a>
	</div>
</div>
</footer>
