<div class="container">
	<div class="row">
		<a href="#modal1" data-toggle="modal" class="waves-effect waves-red btn modal-trigger btn-changes center"><i class="material-icons left">warning</i>Channel Offline</a>
		<div id="modal1" class="modal">
			<div class="modal-content">
				<h4><i class="material-icons left large">warning</i>Channel Offline</h4><p>The twitch stream is currently offline, and we are not taking requests at current.</p>
			</div>
			<div class="modal-footer">
				<a href="#!" class="modal-action modal-close waves-effect waves-green btn"><i class="material-icons left small">exit_to_app</i>Okay</a>
			</div>
		</div>
	</div>
</div>
